body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure {
    margin: 0;
    padding: 0
}

* {
    box-sizing: border-box
}

body {
    font: 400 18px/1.6 "Quicksand", Georgia, serif;
    color: #454545;
    background-color: #fcfcfc;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    font-kerning: normal
}

h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure {
    margin-bottom: 30px
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

figure>img {
    display: block
}

figcaption {
    font-size: 15.75px;
    font-style: italic
}

ul,
ol {
    margin-left: 30px
}

li ul,li ol {
    margin-bottom: 0
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 900
}

h2,h3,h4,h5,h6 {
    margin-bottom: 0
}

h1,h2,h3 {
    text-transform: uppercase
}

h1:hover{
   color: #dfdfdf;
}

h2 {
    font-size: 2em;
    line-height: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em
}

h3 {
    font-size: 1.5em;
    line-height: 1.25
}

h2 code,
h3 code {
    font-size: inherit;
    text-transform: none
}

a {
    color: #333333;
    text-decoration: none
}


blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 24px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}


.row:after {
    content: '';
    display: table;
    clear: both
}

small {
    font-size: 11.75px;
    color: #828282;
    font-style: italic;
    line-height: 12px;
}

html {
    background: #ea0011;
    border-top: 5px solid #79b2c8;
    border-bottom: 5px solid #79b2c8
}

html,
body {
    height: 100%
}

body {
    border-top: 5px solid #ea0011;
    border-bottom: 5px solid #ea0011;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) 0 env(safe-area-inset-left);
    background: url(sheep.jpg);
animation: 60s ease-in 1s infinite both running slidein;
}

@keyframes slidein {
  0% {
    background-position-x:0%;	
    background-position-y:0%;	
  }

  20% {
    background-position-y:0%;
  }
  21% {
    background-position-y:-10%;
  }
  22% {
    background-position-y:0%;
  }
  40% {
    background-position-y:0%;
  }
  41% {
    background-position-y:-10%;
  }
  42% {
    background-position-y:0%;
  }
  60% {
    background-position-y:0%;
  }
  61% {
    background-position-y:-10%;
  }
  62% {
    background-position-y:0%;
  }
  80% {
    background-position-y:0%;
  }
  81% {
    background-position-y:-10%;
  }
  82% {
    background-position-y:0%;
  }
  100% {
    background-position-x:100%;
    background-position-y:0%;
  }
}

.page {
    position: relative;
    padding: 20px auto;
    min-height: 100%;
    padding-bottom: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: initial;
    background: #000000cc;
    border-radius: 0;
}

.page:after {
    content: "";
    display: block
}





.home-header {
    margin-bottom: 30px
}

.home-header img {
    margin: 0 auto 15px;
    clear: both;
    padding: 0;
    display: block;
    width: 70px;
    height: 70px
}

.home-header h1,
.home-header p {
    text-align: center;
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    line-height: 1;
    color: #454545
}

.home-header h1 {
    font-size: 48px
}

.home-header p {
    font-size: 24px;
    margin-bottom: 60px
}

.blog-header,
.home-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
}

.home-nav {
    max-width: 930px;
    width: 100%;
    margin: 0 auto 60px;
    overflow: hidden
}

.home-nav nav {
    flex-grow: 1;
    text-align: left
}

.blog-header a.title {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    line-height: 1;
    color: #454545;
    font-size: 24px;
    flex-grow: 1
}

.blog-header a.title:hover {
    text-decoration: none;
    box-shadow: none;
    border: none
}

.header>div {
    display: flex;
    flex-direction: column
}

.header nav {
    display: flex
}

.header nav a {
    font-family: "Quicksand", Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 24px;
    margin-left: 15px;
    display: inline-block
}

.header nav a:hover {
    border: none
}

.header nav a:first-child {
    margin-left: 0
}


.intro {
    margin-bottom: 60px
}

.social {
    list-style-type: none;
    margin: 0 0 30px;
    padding: 0;
    overflow: hidden
}

.page-title {
    text-align: left;
    font-size: 36px;
    color: #ffffff;
    padding-left: 10px;
	display: inline-block;
}

.omg {
    font-size: 18px;
	text-align: left;
    color: #ffffff;
    padding-left: 10px;
	display: inline-block;
}


.post-header-image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -30px;
    margin-bottom: 30px
}

.post-meta {
    font-style: italic;
    font-size: 15.75px;
    font-family: "Quicksand", Georgia, serif;
    font-weight: 400;
    text-transform: none
}

.post-image {
    display: block;
    text-align: center
}

.post-image img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto
}

.post-image-outside {
    margin-left: 0;
    margin-right: 0
}

.title {
    opacity: 0;
    transition: opacity 0.8s;
    position: absolute;
    border-radius: 5px;
    right: 197px;
    top: 0;
    width: 200px;
    background: #000000ee;
    color: white;
    padding: 20px;
    font-size: 1rem;
    line-height: 1.3rem;
    z-index: 1;
}
.home.row {
    position: absolute;

}
.status {
  border: 3px solid black;
  border-radius: 5px;
  background: #ffffffcc;
  z-index: 2;
  width: 200px;
    position: absolute;
    top: 75px;
    right: 10px;
    text-align: center;
}

.infos, .date {
font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
    color: grey;
}

.channels {
 padding: 0 10px;
 text-align: left;
line-height: 25px;
    position: relative;
}
.channels:hover {
	cursor: pointer;
}
.channels:hover label {
	color: black;
	cursor: pointer;
}
.channels:hover .title {
opacity: 1;
}

small.game {
    display: block;
}
.page-content {
    padding-top: 60px;
    height: 100%;
}
.page-content.fullscreen {
    padding-top: 0;
}
.twitch-video {
	height: 100%;
}

.toggleShit {
    position: absolute;
    right: 10px;
    z-index: 2;
    color: white;
	font-size: 25px;
    line-height: 30px;
    cursor: pointer;
    margin: 0;
    height: 30px;
    top: 35px;
}
.toggleShit:before {    
	content: 'x';
    font-size: 0.8rem;
    line-height: 20px;
    position: relative;
    left: -7px;
    top: -4px;
}
.toggleShit.hide:before {
   content:'<<';
}
.chat {
    line-height: 15px;
    text-align: left;
    margin: 10px;
}
.viewer {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    float:left;
	overflow: hidden;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.viewer.mainViewer {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 1;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	margin: auto;
}

.viewer2video .viewer{
	width: 50%;
}

@media (max-width: 1250px) { 
.viewer2video .viewer{
	width: 100%;
     height: 50%;
}
}

.twitch-embed{
	height: 100%;
}

.viewer3video .viewer{
	width: 50%;
height: 50%;
}

.viewer3video .viewer:last-of-type{
	width: 100%;
}

.twitch-description{
    position: absolute;
    width: 25%;
    height: 50%;
	border-radius: 8px;
    color: #f1f1f1;
	background: none;
	border: 0;
    padding: 5px;
    font-size: 0.8rem;
	top: 20px;
	left: 20px;
	overflow: hidden;
    /*overflow-y: auto;
}

.twitch-description.hide {
    width: 40px;
    height: 40px;
    left: 0 !important;
    right: 0 !important;
    top: 20px !important;
    margin: 0 auto;
}

.twitch-description.hide .chatscroll {
	display: none;
}

.twitch-description:hover  > nav > div > div {
	/*float: left;*/
}

.postmessage {
	display: inline-block;
}
#embed_chat_position{
	margin: 5px 0;
}
.twitch-description .embed-message{
	background-color: #00000088;	
	line-height: 1rem;
	cursor: pointer;
	padding: 3px;
	word-break: break-word;
}
.twitch-description .sender-message{
    display: inline-block;
    width: 35%;
    vertical-align: top;
	text-align: right;
}
.twitch-description .embed-message:hover{
    background: #ffffffcc;
	color: #111111;
}

.twitch-description .message{
	display: inline-block;
    width: 65%;
}
.twitch-description .scamer{
	font-weight: bold;
	margin-right: 10px;
}

.viewer4video .viewer{
	width: 50%;
	height: 50%;
}

.viewer6video .twitch-description, 
.viewer5video .twitch-description, 
.viewer4video .twitch-description, 
.viewer3video .twitch-description
{
	height: 71%;
}

.viewer5video .viewer:nth-of-type(4), .viewer5video .viewer:nth-of-type(5){
	width: 50%;
}
.viewer3video .viewer:last-of-type{
	width: 100%;
}
.viewer6video .viewer, .viewer5video .viewer{
	width: 33.3333333%;
	height: 50%;
}

.viewer9video .viewer, .viewer8video .viewer, .viewer7video .viewer{
	height: 33.3333333%;
}
.viewer9video .viewer, .viewer8video .viewer, .viewer7video .viewer{
	width: 33.3333333%;
}
.viewer8video .viewer:nth-of-type(7), .viewer8video .viewer:nth-of-type(8){
	width: 50%;
}
.viewer7video .viewer:nth-of-type(4), .viewer7video .viewer:nth-of-type(5), .viewer7video .viewer:nth-of-type(6), .viewer7video .viewer:nth-of-type(7){
	width: 50%;
}

.online-icon {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: grow;


  display: inline-block;
  margin: 0 4px;
  
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 2px solid transparent;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-color: green;
  border-width: 2px;
    top: 5px;
    vertical-align: top;
}
.online-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 5px;
}

.channels input {
    vertical-align: middle;
}
.offline-icon {
  display: inline-block;
  margin: 0 4px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  border: 2px solid transparent;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-color: #eb0400;
  border-width: 2px;
    top: 5px;
    vertical-align: top;
}

.offline-icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: #eb0400;
  border-radius: 5px;
}
#go-button {
	color:white;
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 2;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}

@keyframes grow {
  0% { transform: scale(1); }
  50% { transform: scale(0.75); }
  100% { transform: scale(1); }
}

/* Scroll bar OP */
.scroll {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #96A6BF, #63738C);
  box-shadow: inset 0 0 1px 1px #5C6670;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391A6, #536175);
}


.chat .position input {
    position: relative;
    left: 20px;
}
.chat .position input:checked + label {
	color: red;
}
.chat .position label{
    margin: 10px 0;
    cursor: pointer;
    display: block;
}
.chat .position label:hover{
    color: red;
}

.chat .position input:nth-of-type(2), .chat .position input:nth-of-type(4) {

}
.chat .position {
	    text-align: center;
    margin: 20px 0;
}

.instructions {
	display: none;
}

.viewer0video .instructions {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 50px;
    color: white;
	text-align: center;
}
.viewer0video .status {
    display: inline-block;
}

.instructions li {
	cursor: pointer;
	text-align: left;
}
.instructions li:hover {
	color: red;
	text-decoration: underline;
}
.highlight {
	border: 4px dotted red;
}
.channels .remove {
	position: absolute; 
	top: 0;
	right: 5px;
	font-weight: bold;
    font-size: 18px;
}

.channels:hover label{
	font-weight: bold;
} 

.channels:hover .remove{
	color: red;
}
.channels:hover{
	background: #ffffffee;
}


[data-first-message=false], [data-flags=null] , [data-modo=false] , [data-turbo=false] , [data-subscriber=false] {
	display: none;
}
[data-modo=true], [data-subscriber=true] {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 0;
	background:url("favicon.png");
	background-size: contain;
	vertical-align: top;
}